/* line 5, /Users/younjiwoo/repositories/wdi/transit-app/app/assets/stylesheets/stations.scss */
.container {
  margin-top: 120px;
  background: rgba(0, 0, 0, 0.6);
  padding: 3em;
  border-radius: 10px;
}

/* line 11, /Users/younjiwoo/repositories/wdi/transit-app/app/assets/stylesheets/stations.scss */
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

/* line 18, /Users/younjiwoo/repositories/wdi/transit-app/app/assets/stylesheets/stations.scss */
div.input-field.col.s12 > label, .range-field > label, .active {
  left: 0;
  font-size: 1em;
  color: #fff;
}

/* line 23, /Users/younjiwoo/repositories/wdi/transit-app/app/assets/stylesheets/stations.scss */
.select-wrapper > input.select-dropdown, input#time.timepicker {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 40px;
}

/* line 28, /Users/younjiwoo/repositories/wdi/transit-app/app/assets/stylesheets/stations.scss */
button {
  margin-top: 40px;
  float: right;
}

/* line 32, /Users/younjiwoo/repositories/wdi/transit-app/app/assets/stylesheets/stations.scss */
.clear {
  clear: both;
}

/* line 35, /Users/younjiwoo/repositories/wdi/transit-app/app/assets/stylesheets/stations.scss */
.thumb > span.value {
  display: none;
}

@media screen and (min-width: 1100px) {
  /* line 40, /Users/younjiwoo/repositories/wdi/transit-app/app/assets/stylesheets/stations.scss */
  .container {
    margin-top: 200px;
    width: 80%;
  }

  /* line 44, /Users/younjiwoo/repositories/wdi/transit-app/app/assets/stylesheets/stations.scss */
  form > div {
    display: inline-block;
    width: 28%;
    margin-right: 15px;
  }

  /* line 49, /Users/younjiwoo/repositories/wdi/transit-app/app/assets/stylesheets/stations.scss */
  form > button {
    display: inline;
  }

  /* line 52, /Users/younjiwoo/repositories/wdi/transit-app/app/assets/stylesheets/stations.scss */
  .select-wrapper > input.select-dropdown, input#time.timepicker {
    margin-bottom: 0;
  }

  /* line 55, /Users/younjiwoo/repositories/wdi/transit-app/app/assets/stylesheets/stations.scss */
  .range-field {
    display: inline-block;
    width: 40%;
    margin-top: 20px;
  }
}
