/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "materialize";

body {
  font-family: 'Zilla Slab', sans-serif;
}
.container {
  padding-top: 70px;
}
.banner {
  color: #fff;
  background-color: #000;
  position: fixed;
  width: 100%;
  padding: 10px;
  margin-top: 0;
  z-index: 10;
}
div.card-content > p:first-child {
  padding-top: 1em;
}
div.card-content > p {
  padding-bottom: .5em;
}
td {
  padding: 5px;
}
.orange-title {
  color: #ffab40;
}
