<!DOCTYPE html>
<html>
  <head>
    <title>Transit App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>

  <body>
    <h4 class='banner'>Caltrain</h4>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
